<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beyond.beyond.entity.mapper.UlSourceDataHistoryMapper" >
  <resultMap id="BaseResultMap" type="cn.beyond.beyond.entity.ul.UlSourceDataHistory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="credit_no" property="creditNo" jdbcType="VARCHAR" />
    <result column="grade_model" property="gradeModel" jdbcType="VARCHAR" />
    <result column="before_loan_grade" property="beforeLoanGrade" jdbcType="REAL" />
    <result column="under_loan_grade" property="underLoanGrade" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, credit_no, grade_model, before_loan_grade, under_loan_grade, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ul_source_data_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ul_source_data_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ul_source_data_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistoryExample" >
    delete from ul_source_data_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistory" >
    insert into ul_source_data_history (id, credit_no, grade_model, 
      before_loan_grade, under_loan_grade, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{creditNo,jdbcType=VARCHAR}, #{gradeModel,jdbcType=VARCHAR}, 
      #{beforeLoanGrade,jdbcType=REAL}, #{underLoanGrade,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistory" >
    insert into ul_source_data_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creditNo != null" >
        credit_no,
      </if>
      <if test="gradeModel != null" >
        grade_model,
      </if>
      <if test="beforeLoanGrade != null" >
        before_loan_grade,
      </if>
      <if test="underLoanGrade != null" >
        under_loan_grade,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creditNo != null" >
        #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeModel != null" >
        #{gradeModel,jdbcType=VARCHAR},
      </if>
      <if test="beforeLoanGrade != null" >
        #{beforeLoanGrade,jdbcType=REAL},
      </if>
      <if test="underLoanGrade != null" >
        #{underLoanGrade,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistoryExample" resultType="java.lang.Integer" >
    select count(*) from ul_source_data_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ul_source_data_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.creditNo != null" >
        credit_no = #{record.creditNo,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeModel != null" >
        grade_model = #{record.gradeModel,jdbcType=VARCHAR},
      </if>
      <if test="record.beforeLoanGrade != null" >
        before_loan_grade = #{record.beforeLoanGrade,jdbcType=REAL},
      </if>
      <if test="record.underLoanGrade != null" >
        under_loan_grade = #{record.underLoanGrade,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ul_source_data_history
    set id = #{record.id,jdbcType=VARCHAR},
      credit_no = #{record.creditNo,jdbcType=VARCHAR},
      grade_model = #{record.gradeModel,jdbcType=VARCHAR},
      before_loan_grade = #{record.beforeLoanGrade,jdbcType=REAL},
      under_loan_grade = #{record.underLoanGrade,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistory" >
    update ul_source_data_history
    <set >
      <if test="creditNo != null" >
        credit_no = #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeModel != null" >
        grade_model = #{gradeModel,jdbcType=VARCHAR},
      </if>
      <if test="beforeLoanGrade != null" >
        before_loan_grade = #{beforeLoanGrade,jdbcType=REAL},
      </if>
      <if test="underLoanGrade != null" >
        under_loan_grade = #{underLoanGrade,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beyond.beyond.entity.ul.UlSourceDataHistory" >
    update ul_source_data_history
    set credit_no = #{creditNo,jdbcType=VARCHAR},
      grade_model = #{gradeModel,jdbcType=VARCHAR},
      before_loan_grade = #{beforeLoanGrade,jdbcType=REAL},
      under_loan_grade = #{underLoanGrade,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>